.filterTitle {
  display: flex;
  align-items: center;

  font-size: 18px;
  color: #073b4c;
}

.filterBox {
  margin-top: 10px;
}

.accordionContent {
  margin-bottom: 20px;
}

.accordionItem {
  margin: 0 !important;
  padding: 0 !important;
  color: #073b4c !important;
  font-size: 22px !important;
}

.heading {
  font-size: 24px;
  color: #073b4c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardImg {
  width: 100%;
}

.contaierCard {
  margin-top: 25px;
  border: 1px solid #dee1f3;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.4s;
  cursor: pointer;

  &:hover {
    box-shadow: 4px 4px 16px 0 rgba(66, 165, 245, 0.3);
  }
}

.headingCard {
  font-size: 17px;
  color: #073b4c;
  font-weight: bold;
}

.descriptionCard {
  font-size: 14px;
}

.ratingNumber {
  color: #ffb400;
  font-weight: bold;
  margin-right: 5px;
}

.ratingCard {
  display: flex;
  align-items: center;
}

.tagGreen,
.tagRed,
.tagBlue {
  color: #fff;
  padding: 3px 10px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  width: fit-content;
  margin-top: 5px;
}

.tagGreen {
  background-color: #64dd17;
}

.tagRed {
  background-color: #ff1744;
}

.tagBlue {
  background-color: #1e88e5;
}

.price {
  font-weight: bold;
}

.author {
  font-size: 15px;
  color: #3777bc;
}

.ratingContent {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .descriptionCard {
    display: none;
  }
  .ratingNumber {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .cardImg {
    width: 5rem;
    height: 5rem;
    padding: 0;
  }

  .headingCard {
    font-size: 16px;
  }
  .tagGreen,
  .tagRed,
  .tagBlue {
    font-size: 13px;
  }
}

.filterSide {
  padding: 25px 15px;

  min-width: 280px;
}
