.productName {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}

.ratingStar {
  margin-top: 20px;
}

.priceDetail {
  font-size: 25px;
  font-weight: 700;
  margin-top: 40px;
  color: #333;
}
