@import "public/styles/app.scss";

.sideMenu {
  padding: 10px 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuLogin {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px;
}

.imgNext {
  min-height: 60% !important;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    opacity: 0.5;
  }
}

.menuSide {
  list-style: none;
  margin-bottom: 0;
}

.menuSideItem {
  padding: 20px 0;
  a {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }
}

.imgItem {
  transform: rotate(90deg);
}
.titleUrl {
  color: $black-0;

  &:hover {
    color: $blue-1;
    text-decoration: none;
  }
}
.titleUrl2 {
  color: $black-0;

  &:hover {
    transition: all 0.3s;
  }
}

.wrapperMenu:hover {
  background-color: $gray-1 !important;
  color: $white-0;
  transition: all 0.3s;
}

.logOut {
  display: flex;
  align-items: center;
  padding: 0px 16px;
  min-height: 56px;
  cursor: pointer;
  text-transform: uppercase;
}
