@import "../../public/styles/app.scss";

html {
  box-sizing: border-box;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  background-color: $bg-primary;
  padding: 0 !important;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

input:disabled {
  cursor: not-allowed;
  background: $gray-0;
}

header {
  padding: 0 !important;
}

// ::-webkit-scrollbar {
//   width: 6px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: $white-0;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: $black-0;
// }

// Import fontface
@font-face {
  font-family: "tungsten";
  src: url("/fonts/tungsten/Tungsten-bold.otf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "tungsten";
  src: url("/fonts/tungsten/Tungsten-semibold.otf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "tungsten";
  src: url("/fonts/tungsten/Tungsten-medium.otf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "tungsten-b";
  src: url("/fonts/tungsten/Tungsten-light.otf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

// style arrow color
polygon {
  fill: $white-0;
}
​

// MenuBar
ul li:hover > a {
  background-color: $black-0 !important;
  color: $white-0 !important;
  transition: all 0.6s;
}

ul li:hover {
  background-color: $black-0 !important;
  transition: all 0.3s;
  a {
    color: $white-0 !important;
  }
}

ul li:hover > ul {
  display: block;
  transition: all 0.6s;
}

@media screen and (max-width: 992px) {
  .MuiDrawer-root {
    .MuiDrawer-paper.MuiDrawer-paperAnchorRight {
      width: 50% !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .MuiDrawer-root {
    .MuiDrawer-paper.MuiDrawer-paperAnchorRight {
      width: 70% !important;
    }
  }
}
@media screen and (max-width: 400px) {
  .MuiDrawer-root {
    .MuiDrawer-paper.MuiDrawer-paperAnchorRight {
      width: 100% !important;
    }
  }
}

.MuiAccordionDetails-root {
  padding: 0 !important;
  display: block !important;
  border-bottom: none !important;
}

// Carousel code
.slider {
  min-height: 100vh;
}

[not-existing] {
  zoom: 1;
}

lesshat-selector {
  -lh-property: 0;
}

.loader {
  border: 3px solid $gray-0;
  border-top: 3px solid $blue-1; /* Blue */
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
  margin-right: 5px;

  &.image {
    width: 60px;
    height: 60px;
    border: 5px solid $gray-0;
    border-top: 5px solid $blue-1;
    border-bottom: 5px solid $blue-1;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper-toast {
  display: flex;
  align-items: center;
  color: $black-text;
}

.Toastify__toast--success {
  background: $gray-1 !important;
  border-left: 4px solid $green-0;

  i {
    margin-right: 10px;
    color: $green-0;
    font-size: 20px;
  }
}

.Toastify__toast--error {
  background: #f3f3f3 !important;
  border-left: 4px solid $red-0;

  i {
    margin-right: 10px;
    color: $red-0;
    font-size: 20px;
  }
}

.Toastify__toast--warning {
  background: #f3f3f3 !important;
  border-left: 4px solid $yellow-0;
  i {
    margin-right: 10px;
    color: $yellow-0;
    font-size: 20px;
  }
}

.profileBox {
  padding: 30px;
  border-radius: 15px;
  background: $white-0;
}

.MuiAccordion-root.Mui-expanded {
  margin: 0 !important;
}

.wrapper-accordion {
  overflow: hidden;
  transition: all 0.3s;
}

.accordion-title {
  // background-color: #dfe8f6;
  color: $blue-1;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 20px;
}

@media screen and (max-width: 1199px) {
  .profileBox {
    padding: 30px 10px;
  }
}

/* Style the tab */

.tab button {
  color: #777;
  background: #fff;
  font-size: 17px;
  padding: 5px 16px;
  border: none;
  outline: none;
  cursor: pointer;

  margin-right: 10px;
  transition: 0.3s;
  position: relative;
}

.tab button.active {
  background-color: #9cdaf7;
  border-radius: 4px;
  color: #fff;
}

.tab button.active::after {
  position: absolute;
  left: 50%;
  bottom: -5px;

  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #9cdaf7 transparent transparent transparent;
}

.tabcontent {
  padding: 20px 0;
  transition: 0.3s;
  display: none;

  h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
  }

  p {
    color: #999;
    margin: 1rem 0;
  }
}

.hotline-phone-ring-wrap {
  position: fixed;
  bottom: -20px;
  left: 0;
  z-index: 999;
}
.hotline-phone-ring {
  position: relative;
  visibility: visible;
  background-color: transparent;
  width: 110px;
  height: 110px;
  cursor: pointer;
  z-index: 11;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transition: visibility 0.5s;
  left: 0;
  bottom: 0;
  display: block;
}
.hotline-phone-ring-circle {
  width: 85px;
  height: 85px;
  top: 10px;
  left: 10px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid $blue-1;
  -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  transition: all 0.5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0.5;
}
.hotline-phone-ring-circle-fill {
  width: 55px;
  height: 55px;
  top: 25px;
  left: 25px;
  position: absolute;
  background-color: $blue-1;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  transition: all 0.5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.hotline-phone-ring-img-circle {
  background-color: $blue-1;
  width: 33px;
  height: 33px;
  top: 37px;
  left: 37px;
  position: absolute;
  background-size: 20px;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hotline-phone-ring-img-circle .pps-btn-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.hotline-phone-ring-img-circle .pps-btn-img svg {
  width: 20px;
  height: 20px;
  color: #fff;
}
.hotline-bar {
  position: absolute;
  background: $blue-1;
  height: 40px;
  width: 180px;
  line-height: 40px;
  border-radius: 3px;
  padding: 0 10px;
  background-size: 100%;
  cursor: pointer;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  z-index: 9;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px !important;
  /* width: 175px !important; */
  left: 33px;
  bottom: 37px;
}
.hotline-bar > a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-indent: 50px;
  display: block;
  letter-spacing: 1px;
  line-height: 40px;
  font-family: Arial;
}
.hotline-bar > a:hover,
.hotline-bar > a:active {
  color: #fff;
}
@-webkit-keyframes phonering-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: 0.1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: 0.1;
  }
}
@-webkit-keyframes phonering-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
}
@-webkit-keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}
@media (max-width: 768px) {
  .hotline-bar {
    display: none;
  }
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 999999 !important;
}

.visonPage {
  position: relative;

  .slick-prev {
    position: absolute;
    top: 0;
    left: 88% !important;
    background: url("../../public/images/btn-prev.png") center left/32px
      no-repeat;

    width: 48px;
    height: 23px;
    transition: all 0.7s;

    &:hover {
      background: url("../../public/images/btn-prev-b.png") center left/32px
        no-repeat;
    }

    &::before {
      color: transparent !important;
    }
  }

  .slick-next {
    position: absolute;
    top: 0;
    right: 1%;

    background: url("../../public/images/btn-next.png") center left/32px
      no-repeat;

    width: 48px;
    height: 23px;
    transition: all 0.7s;

    &:hover {
      background: url("../../public/images/btn-next-b.png") center left/32px
        no-repeat;
    }

    &::before {
      color: transparent !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .visonPage {
    .slick-prev {
      left: 80% !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .visonPage {
    .slick-prev {
      left: 75% !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .visonPage {
    .slick-prev {
      left: 70% !important;
    }
  }
}

.slick-thumb {
  bottom: -80px !important;

  li {
    width: 64px;
    height: 64px;
    img {
      width: 100%;
      height: 100%;
    }

    &.slick-active {
      img {
        filter: brightness(50%) !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .slick-thumb {
    li {
      width: 50px;
      height: 50px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
