.searchMenu {
  margin-top: 50px;
  margin-bottom: 50px;
}

.inputSearch {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding: 5px 15px;
  border-radius: 10px;
  width: 30%;
  font-size: 16px;
  border: 2px solid #333;
  margin-right: 20px;
}

.searchButton {
  padding: 10px 20px !important;
  font-weight: bold !important;
  background-color: #2c3e50 !important;
  color: #fff !important;
  border-radius: 10px !important;
  transition: all 0.3s !important;

  &:hover {
    color: #00cec9 !important;
  }
}
