@import "public/styles/app.scss";

.textVas {
  font-size: 35px;
  color: $blue-2;
}

@media screen and (max-width: 992px) {
  .textVas {
    margin-top: 20px;
    text-align: center;
  }
}

.btnDetail {
  margin-top: 30px;
  text-transform: uppercase;
  color: $white-0;
  border: none;
  padding: 10px 30px;
  background-color: $blue-1;
  display: inline-block;
  transition: all 0.3s;

  &:hover {
    color: $white-0;
    background-color: $blue-2;
  }
}

.trainerText {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0 30px;

  transform: translate(-50%, -50%);
}

.wrapperTrainer {
  &:hover {
    cursor: grab;
  }
}

@media screen and (max-width: 992px) {
  .trainerText {
    position: unset !important;
    width: 100%;
    padding: 0 30px;

    transform: unset !important;
    text-align: center;
  }
}
